*{
  margin: 0;
}

h1{
  color: rgb(255, 255, 255);
}
h3{
  color: rgb(255, 255, 255); ;
}
body{
  background-color: #f5f6fa;
  background-image: url("corona.jpg");
}

.MenuItem{
  border-color: rgb(255, 255, 255);
}


.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;

}
.app__stats{
  display: flex;
  justify-content: space-between;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;

}

@media(max-width :990px){

  .app{
    flex-direction: column;
    
  }

}

.app__left{
  flex: 0.9;
  /* margin-bottom: 8px; */
  
  
}

.app__right {
  flex: 1;
  flex-direction: column;
}




.footer{
  text-align: center;
  background-color: rgb(51, 48, 48);
  color: #bbb;
  padding: 10px;
}


.menu{
  background-color: antiquewhite;
}